<header class="header">
  <nav class="navbar">
    <a routerLink="/weather">
      <img class="logo" src="../../assets/weatherLogo.png" alt="" />
    </a>
    <ul class="menu">
      <li>
        <a href="#home">Home</a>
      </li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main class="main-content">
  <section id="home">
    <h1>Welcome to Our Website</h1>
    <p>This is a generic landing page made with Angular.</p>
  </section>
</main>
